{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

<h2>Логін</h2>
<form action="" method="post">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Увійти">
</form>

{% if get_flashed_messages() %}
    {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ message[0] }}">{{ message[1] }}</div>
    {% endfor %}
{% endif %}

{% endblock %}
