/* Кастомний стиль для постів */
.post-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.post-content {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.post-author {
    font-style: italic;
    color: #888;
    margin-top: 15px;
}


.tags {
    margin-top: 20px;
}

.tags .list-inline-item {
    margin-right: 10px;
}

.tags .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 12px;
}

.tags .badge.bg-info {
    background-color: #17a2b8;
}

.tags .badge.bg-info:hover {
    background-color: #138496;
}

