{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
    <h1 class="myclass">All Posts</h1>
    <div class="container mt-5">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <!-- Відображення зображення поста -->
                        <img src="{{ url_for('static', filename=post.image if post.image else 'images/default.png') }}" 
                        class="card-img-top" 
                        alt="Image for {{ post.title }}">
                   
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title | title }}</h5>
                            <h6 class="card-subtitle text-muted">Category: {{ post.category | title }}</h6>
                            <p class="card-text">{{ post.content[:100] }}...</p>
                            <p class="text-muted">Author: {{ post.author }}</p>
                            <p class="text-muted">Published: {{ post.posted.strftime('%Y-%m-%d') }}</p>
                            <a href="{{ url_for('posts.detail_post', id=post.id) }}" class="btn btn-primary">Read More</a>

                            {% if not post.is_active %}
                                <span class="badge bg-warning text-dark">Inactive</span>
                            {% endif %}
                        </div>
                        <form action="{{ url_for('posts.delete_post', id=post.id) }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}
