body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.table.light-theme {
    background-color: #f9f9f9;
    color: #000;
}

.table.dark-theme {
    background-color: #333;
    color: #fff;
}



.tags {
    margin-top: 20px;
}

.tags .list-inline-item {
    margin-right: 10px;
}

.tags .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 12px;
}

.tags .badge.bg-info {
    background-color: #17a2b8;
}

.tags .badge.bg-info:hover {
    background-color: #138496;
}

