{% extends 'base.html' %}

{% block title %} Add POST {% endblock %}

{% block content %}   
   <br>
   <form action="" method="post" novalidate>
       {{ form.hidden_tag() }}

       <!-- Поле для назви -->
       <div class="form-group">
           {{ form.title.label(class="form-label") }}
           {{ form.title(class="form-control") }}
       </div>

       <!-- Поле для контенту -->
       <div class="form-group">
           {{ form.content.label(class="form-label") }}
           {{ form.content(class="form-control") }}
       </div>

       <!-- Чекбокс для активності -->
       <div class="form-group form-check">
           {{ form.is_active(class="form-check-input") }}
           {{ form.is_active.label(class="form-check-label") }}
       </div>

       <!-- Поле для вибору дати -->
       <div class="form-group">
           {{ form.publish_date.label(class="form-label") }}
           {{ form.publish_date(class="form-control") }}
       </div>

       <!-- Вибір категорії -->
       <div class="form-group">
           {{ form.category.label(class="form-label") }}
           {{ form.category(class="form-select") }}
       </div>

       <!-- Кнопка відправки -->
       <div class="form-group">
           {{ form.submit(class="btn btn-primary") }}
       </div>
   </form>

   <a href="{{ url_for('posts.get_posts') }}">Return to Posts</a>
{% endblock %}
